html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    background-color: $bg-color;
    color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
button:focus {
    outline: 1px solid transparent;
}

button {
    padding: 0;
    border: none;
    /* background-color: transparent; */
    /* font: inherit; */
    cursor: pointer;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 375px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 24px;
    }
}


// .section {
//     padding-bottom: 80px;
// }

// @media screen and (min-width: 768px) {
//     .section {
//         padding-bottom: 144px;
//     }
// }

// @media screen and (min-width: 1440px) {
//     .section {
//         padding-bottom: 150px;
//     }
// }