// light
:root {
    --bg-color: #f6f6f6;
    --primary-color: #111111;
    --logo-text: #000000;
    --header-bg-color: #ffffff;
    --sidebar-activ-text: #4f2ee8;
    --scroll-color: #e0e0e0;

    --other-text-color: #111111;
    --auth-border-color: #111111;
    --auth-btn-text-color: #f3f3f3;
    --congrat-text-color: rgba(17, 17, 17, 0.5);

    --shopping-empty: rgba(0, 0, 0, 0.6);
    --shopping-arrow-left: #b4afaf;
    --shopping-arrow-right: #000000; // однаковий колір для обох
    --shopping-current-page: #000000;
    --shopping-current-page-text: #ffffff;
    --logout-text: #111111;
    --logout-fon: #ffffff;
    --footer-bg-color: var(--bg-color);

    //=== однаковий для обох тем ===
    --second-color: #b4afaf;
    --nav-mobile-menu: #111111;
    --shopping-border-list: rgba(79, 46, 232, 0.4);
    --blue-color: #4f2ee8; // в заголовку span
    --yellow-color: #eac645; // навігація активна сторінка, стрілки
    --white-color: #ffffff;
}

:root body.dark {
    --logout-fon:#4f2ee8;
    --logout-text: #ffffff;
    --bg-color: #202024;
    --primary-color: #000000;
    --logo-text: #f3f3f3;
    --header-bg-color: #111111;
    --sidebar-activ-text: #eac645;
    --scroll-color: rgba(17, 17, 17, 0.6);

    --other-text-color: #ffffff;
    --auth-border-color: #f6f6f6;
    --auth-btn-text-color: #202024;
    --congrat-text-color: rgba(255, 255, 255, 0.5);

    --shopping-empty: rgba(255, 255, 255, 0.6);
    --shopping-arrow-left: #ffffff;
    --shopping-current-page: #ffffff;
    --shopping-current-page-text: #000000;
    --footer-bg-color: #606060;
}

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;