<div class="auth-backdrop is-hidden js-auth-backdrop" data-backdrop>
    <div class="auth-modal">
        <button class="btn-close" type="button" data-close-auth>
            <svg class="auth-icon-close" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>

        <!-- <form id="js-auth-sign-in" class="auth">
            <label class="auth-label" for="email">Email</label>
            <input
                class="auth-input"
                type="email"
                name="email"
                autocomplete="off"
                required
                minlength="8"
                id="userEmail"
            />
            <label class="auth-label" for="password">Password</label>
            <input
                class="auth-input"
                type="password"
                name="password"
                autocomplete="off"
                required
                minlength="8"
                id="userPassword"
            />
            <button class="btn-submit" type="submit">Sign in</button> -->
        <!-- <button
                class="authorization-sign-in-btn is-hidden"
                type="submit"
            ></button> -->

        <!-- <div class="auth-btn-group">
                <button
                    type="button"
                    class="auth-link auth-activ-link"
                    data-action="sign-up"
                    id="singUp"
                >
                    SIGN UP
                </button>
                <button
                    type="button"
                    class="auth-link"
                    data-action="sign-in"
                    id="singIn"
                >
                    SIGN IN
                </button>
            </div>
        </form> -->

        <form id="js-auth-sign-up" class="auth">
            <label class="auth-label" for="name">Name</label>
            <input
                class="auth-input"
                type="text"
                name="name"
                autocomplete="off"
                required
                id="userName"
                minlength="3"
            />

            <label class="auth-label" for="email">Email</label>
            <input
                class="auth-input"
                type="email"
                name="email"
                autocomplete="off"
                required
                minlength="8"
                id="userEmail"
            />
            <label class="auth-label" for="password">Password</label>
            <input
                class="auth-input"
                type="password"
                name="password"
                autocomplete="off"
                required
                minlength="8"
                id="userPassword"
            />
            <button class="btn-submit" type="submit">Sign up</button>
            <!-- <button
                class="authorization-sign-in-btn is-hidden"
                type="submit"
            ></button> -->

            <div class="auth-btn-group">
                <button
                    type="button"
                    class="auth-link auth-activ-link"
                    data-action="sign-up"
                    id="singUp"
                >
                    SIGN UP
                </button>
                <button
                    type="button"
                    class="auth-link"
                    data-action="sign-in"
                    id="singIn"
                >
                    SIGN IN
                </button>
            </div>
        </form>
    </div>
</div>
