<div class="mobile-menu-modal" id="mobile-menu-modal">
  <div class="mobile-menu-modal-content">
    <button
      class="btn login-btn login-modal js-burger-sign-up-btn"
      type="button"
    >
      <svg class="burger-user-icon is-hidden" width="37" height="37">
        <use href="./images/sprite.svg#user-icon-header"></use>
      </svg>
      <span class="burger-sign-up-btn-text">Sign up</span>
      <svg class="arrow-right js-burger-arrow-right" width="20" height="20">
        <use href="./images/sprite.svg#arrow-right"></use>
      </svg>
    </button>

    <nav class="header-nav header-nav-mobile">
      <ul class="list header-nav-list">
        <li class="header-nav-item">
          <a
            class="header-nav-link current js-burger-home-btn"
            href="./index.html"
            >HOME</a
          >
        </li>
        <li class="header-nav-item">
          <a
            class="header-nav-link shopping-list-header js-burger-shop-btn"
            href="./shopping-list.html"
            >SHOPPING LIST
            <svg class="cart" width="20" height="20">
              <use href="./images/sprite.svg#uil_cart"></use>
            </svg>
            <span class="header-shopping-count is-hidden"></span>
          </a>
        </li>
      </ul>
    </nav>

    <button class="burger-log-out-btn is-hidden" aria-label="Log out button">
      <span class="log-out-btn-text">Log out</span>
      <svg class="log-out-arrow-right" width="20" height="20">
        <use href="./images/sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
