<!-- <h1 class="top-books">Best Sellers <span>Books</span></h1>
<ul class="categories">
    <li>
        <h2 class="category-item"></h2>
        <img class="book-img" src="#" alt="#" loading="lazy" width="" />
        <h3 class="book-name"></h3>
        <p class="book-author"></p>
        <button class="see-more-btn"></button>
    </li>
</ul>

<h1 class="category-name"></h1>
<ul class="book-list">
    <li class="book-item">
        <img class="book-img" src="#" alt="#" loading="lazy" width="" />
        <h3 class="book-name"></h3>
        <p class="book-author"></p>
    </li>
</ul> -->
<h1 class="top-books">Best Sellers <span>Books</span></h1>
<h1 class="category-name"></h1>
<ul class="book-list"></ul>
