<!-- Список у який додаються книжки -->

<h1 class="category-name">Best Seller <span class="title-blue">Books</span></h1>
<ul class="book-list">
    <!-- Books will be dynamically inserted here -->
</ul>
<!-- BEST SELLERS BOOKS -->

<!-- <h1 class="top-books">Best Sellers <span class="title-blue">Books</span></h1>
<h2 class="category-item">Combined Print and E-Book Fiction</h2>
<ul class="categories">
    <li class="book-card">
        <img
            class="book-image"
            src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1659825850i/61771675.jpg"
            alt="women"
            loading="lazy"
        />
        <h3 class="book-name">I will find you</h3>
        <p class="book-author">Harlan Coben</p>
    </li>
</ul>
<button class="see-more-btn">see more</button>

<!-- ВСІ ІНШІ КАТЕГОРІЇ -->

<!-- <-- <h1 class="category-name">Hardcover <span class="name-blue">Fiction</span></h1>
<ul class="book-list">
    <li class="book-card">
        <img
            class="book-image"
            src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1659825850i/61771675.jpg"
            alt="women"
            loading="lazy"
            width="335"
        />
        <h3 class="book-name">I will find you</h3>
        <p class="author-book">Harlan Coben</p>
    </li>
</ul> -->
