<div class="backdrop_footer visibility-hidden" data-modal-footer>
  <div class="modal_footer">
    <div class="footer-title-thumb">
      <button aria-label="close modal" type="button" class="modal_footer__clous-btn" data-modal-footer-close>
      <svg class="modal_footer__clous-icon" width="20" height="20">
                    <use class="footer-close-icon" href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
      </button>
    <h2 class="team_title">Our Team</h2>
    </div>  
    <ul class="team_list">
      <li class="team_item">
        <div class="card-item"> 
          <img
          src="#"
          alt="team leader"
          class="team_img"
          width="200"
          />
          <div class="teammate-descr">
            <div>
              <h3 class="teammate">Michael Lastavchuk</h3>
          <p class="team_text">Team Leader</p>
          </div>
        <a
          href="https://github.com/lastavchuk"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
          </div>
        
        
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
                <img
          src="./images/js-project-team/inna-zlotska.jpeg"
          alt="scrum master"
          class="team_img"
          width="200"
          />
          <div class="teammate-descr">
            <div>
                <h3 class="teammate">Inna Zlotska</h3>
            <p class="team_text">Scrum Master</p>
            </div>
            <a
          href="https://github.com/ururh"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
          </svg>
          </div>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">        
          <img
          src="./images/js-project-team/denys-stepaniuk.jpeg"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
          <div class="teammate-descr">
            <div>
                <h3 class="teammate">Denys Stepaniuk</h3>
        <p class="team_text">Frontend Developer</p>
            </div>
            
        <a
          href="https://github.com/Stepaniuk-Den"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
          </div>
        
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
          <img
          src="./images/js-project-team/andrii-lutsiak.jpg"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
          <div class="teammate-descr">
            <div>
            <h3 class="teammate">Andrii Lutsiak</h3>
            <p class="team_text">Frontend Developer</p>
        </div>
         <a
          href="https://github.com/timechain04"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
          </div>
        
       
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
          <img
          src="./images/js-project-team/danylo-yemelynets.jpg"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
          <div class="teammate-descr">
            <div>
            <h3 class="teammate">Danylo Yamelynets</h3>
            <p class="team_text">Frontend Developer</p>
            </div>
        <a
          href="https://github.com/DanyloYamelynets"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
          </div>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
          <img
          src="./images/js-project-team/anastasia-osetrova.jpg"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
          <div class="teammate-descr">
            <div>
                <h3 class="teammate">Anastasia Osetrova</h3>
            <p class="team_text">Frontend Developer</p>
            </div>      
        <a
          href="https://github.com/nastyaosetrova8"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
          </div>
      
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
          <img
          src="./images/js-project-team/illia-yanishyn.jpeg"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
          <div class="teammate-descr">
            <div>
            <h3 class="teammate">Illia Yanishyn</h3>
            <p class="team_text">Frontend Developer</p>
            </div>
        <a
          href="https://github.com/youngBudda"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
          </div>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
          <img
          src="./images/js-project-team/petro-tkachuk.jpeg"
          alt="frontend developer"
          class="team_img"
          width="200"
          />
          <div class="teammate-descr">
            <div>
        <h3 class="teammate">Petro Tkachuk</h3>
        <p class="team_text">Frontend Developer</p>
            </div>
        <a
          href="https://github.com/pttkachuk"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
          </div>
        </div>
      </li>
      </li>
    </ul>
  </div>
</div>