<div class="backdrop_footer visibility-hidden" data-modal-footer>
  <div class="modal_footer">
    <button aria-label="close modal" type="button" class="modal_footer__clous-btn" data-modal-footer-close>
      <svg class="modal_footer__clous-icon" width="14" height="14">
                    <use href="../images/symbol-defs.svg#icon-close"></use>
                </svg>
      </button>
    <h2 class="team_title">Our Team</h2>
    <ul class="team_list">
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="" />
          <img
          src=""
          alt="team leader"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Michael Lastavchuk</h3>
        <p class="team_text">Team Leader</p>
        <a
          href="https://github.com/lastavchuk"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="../images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="" />
          <img
          src=""
          alt="scrum master"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Inna Zlotska</h3>
        <p class="team_text">Scrum Master</p>
        <a
          href="https://github.com/ururh"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="../images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset=""  />
          <img
          src=""
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Denys Stepaniuk</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/Stepaniuk-Den"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="../images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset=""/>
          <img
          src=""
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Andrii Lutsiak</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/timechain04"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="../images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset="" />
          <img
          src=""
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Danylo Yamelynets</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/DanyloYamelynets"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="../images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset=""  />
          <img
          src=""
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Anastasia Osetrova</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/nastyaosetrova8"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="../images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset=""/>
          <img
          src=""
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Illia Yanishyn</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href=""
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="../images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      <li class="team_item">
        <div class="card-item">
        <picture>
          <source srcset=""  />
          <img
          src=""
          alt="frontend developer"
          class="team_img"
          width="200"
          />
        </picture>
        <h3 class="teammate">Petro Tkachuk</h3>
        <p class="team_text">Frontend Developer</p>
        <a
          href="https://github.com/pttkachuk"
          target="_blank"
          rel="noreferrer noopener"
          class="social_link"
          >
          <svg class="social_icon" width="40" height="40">
            <use href="../images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        </div>
      </li>
      </li>
    </ul>
  </div>
</div>