<div class="backdrop_footer visibility-hidden" data-modal-footer>
    <div class="modal_footer">
        <div class="footer-title-thumb">
            <button
                aria-label="close modal"
                type="button"
                class="modal_footer__clous-btn"
                data-modal-footer-close
            >
                <svg class="modal_footer__clous-icon" width="20" height="20">
                    <use
                        class="footer-close-icon"
                        href="./images/symbol-defs.svg#icon-close"
                    ></use>
                </svg>
            </button>
            <h2 class="team_title">Our Team</h2>
        </div>
        <ul class="team_list">
            <li class="team_item">
                <div class="card-item">
                    <img
                        src="./images/team/michael-lastavchuk.jpg"
                        alt="team leader"
                        class="team_img"
                        loading="lazy"
                        width="190"
                        height="220"
                    />
                    <div class="teammate-descr">
                        <div>
                            <h3 class="teammate">Michael Lastavchuk</h3>
                            <p class="team_text">Team Leader</p>
                        </div>
                        <a
                            href="https://github.com/lastavchuk"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="social_link"
                        >
                            <svg class="social_icon" width="30" height="30">
                                <use
                                    href="./images/symbol-defs.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="team_item">
                <div class="card-item">
                    <img
                        src="./images/team/inna-zlotska.jpg"
                        alt="scrum master"
                        class="team_img"
                        loading="lazy"
                        width="190"
                        height="220"
                    />
                    <div class="teammate-descr">
                        <div>
                            <h3 class="teammate">Inna Zlotska</h3>
                            <p class="team_text">Scrum Master</p>
                        </div>
                        <a
                            href="https://github.com/ururh"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="social_link"
                        >
                            <svg class="social_icon" width="30" height="30">
                                <use
                                    href="./images/symbol-defs.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="team_item">
                <div class="card-item">
                    <img
                        src="./images/team/denys-stepaniuk.jpg"
                        alt="frontend developer"
                        class="team_img"
                        loading="lazy"
                        width="190"
                        height="220"
                    />
                    <div class="teammate-descr">
                        <div>
                            <h3 class="teammate">Denys Stepaniuk</h3>
                            <p class="team_text">Frontend Developer</p>
                        </div>

                        <a
                            href="https://github.com/Stepaniuk-Den"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="social_link"
                        >
                            <svg class="social_icon" width="30" height="30">
                                <use
                                    href="./images/symbol-defs.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="team_item">
                <div class="card-item">
                    <img
                        src="./images/team/andrii-lutsiak.jpg"
                        alt="frontend developer"
                        class="team_img"
                        loading="lazy"
                        width="190"
                        height="220"
                    />
                    <div class="teammate-descr">
                        <div>
                            <h3 class="teammate">Andrii Lutsiak</h3>
                            <p class="team_text">Frontend Developer</p>
                        </div>
                        <a
                            href="https://github.com/timechain04"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="social_link"
                        >
                            <svg class="social_icon" width="30" height="30">
                                <use
                                    href="./images/symbol-defs.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="team_item">
                <div class="card-item">
                    <img
                        src="./images/team/danylo-yemelynets.jpg"
                        alt="frontend developer"
                        class="team_img"
                        loading="lazy"
                        width="190"
                        height="220"
                    />
                    <div class="teammate-descr">
                        <div>
                            <h3 class="teammate">Danylo Yamelynets</h3>
                            <p class="team_text">Frontend Developer</p>
                        </div>
                        <a
                            href="https://github.com/DanyloYamelynets"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="social_link"
                        >
                            <svg class="social_icon" width="30" height="30">
                                <use
                                    href="./images/symbol-defs.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="team_item">
                <div class="card-item">
                    <img
                        src="./images/team/anastasia-osetrova.jpg"
                        alt="frontend developer"
                        class="team_img"
                        loading="lazy"
                        width="190"
                        height="220"
                    />
                    <div class="teammate-descr">
                        <div>
                            <h3 class="teammate">Anastasia Osetrova</h3>
                            <p class="team_text">Frontend Developer</p>
                        </div>
                        <a
                            href="https://github.com/nastyaosetrova8"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="social_link"
                        >
                            <svg class="social_icon" width="30" height="30">
                                <use
                                    href="./images/symbol-defs.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="team_item">
                <div class="card-item">
                    <img
                        src="./images/team/illia-yanishyn.jpg"
                        alt="frontend developer"
                        class="team_img"
                        loading="lazy"
                        width="190"
                        height="220"
                    />
                    <div class="teammate-descr">
                        <div>
                            <h3 class="teammate">Illia Yanishyn</h3>
                            <p class="team_text">Frontend Developer</p>
                        </div>
                        <a
                            href="https://github.com/youngBudda"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="social_link"
                        >
                            <svg class="social_icon" width="30" height="30">
                                <use
                                    href="./images/symbol-defs.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <li class="team_item">
                <div class="card-item">
                    <img
                        src="./images/team/petro-tkachuk.jpg"
                        alt="frontend developer"
                        class="team_img"
                        loading="lazy"
                        width="190"
                        height="220"
                    />
                    <div class="teammate-descr">
                        <div>
                            <h3 class="teammate">Petro Tkachuk</h3>
                            <p class="team_text">Frontend Developer</p>
                        </div>
                        <a
                            href="https://github.com/pttkachuk"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="social_link"
                        >
                            <svg class="social_icon" width="30" height="30">
                                <use
                                    href="./images/symbol-defs.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
