<footer class="footer">
    <div class="footer__container">
        <p class="first-line">© 2023 | All Rights Reserved |</p>
        <div class="second-line">
            <span class="second-line__text">Developed with </span>

            <svg class="footer_heart" width="15" height="14">
                <use
                    class="heart-icon"
                    href="./images/symbol-defs.svg#icon-heart"
                ></use>
            </svg>
            <p class="second-line__text"></p>
            by
            <span class="modal-link" data-modal-open-footer>GoIT Students</span>
        </div>
    </div>
</footer>
