<header class="header">
    <div class="container container-header">
      <a class="logo-link" href="./index.html">
        <svg class="logo-icon">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg></a>
      <nav class="navigation-main">
        <ul class="navigation-list">
          <li class="navigation-item">
            <a class="navigation-link" href="/src/index.html">HOME</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link" href="/src/shopping-list.html">SHOPPING LIST
              <svg class="logo-shop">
                <use href="./images/sprite.svg#icon-shop"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
  <!-- Buttons -->
  <div class="container-button">
    <label class="switch">
      <input id="theme-switch" type="checkbox" />
      <span class="slider round"></span>
    </label>
    <button class="button-burger js-open-menu">
      <svg class="svg" width="28" height="28">
        <use href=""></use>
      </svg>
    </button>
    <button class="button-burger-close js-close-menu is-hidden">
      <svg class="svg" width="28" height="28">
        <use href=""></use>
      </svg>
    </button>
    <button  class="button-autor mobile-button-autor "  type="button" id="sing-up">
      Sign up
      <svg class="svg-button" width="20" height="20">
        <use href=""></use>
      </svg>
    </button>
    <p id="auth-loader">Loading...
    </p>
    <ul class="user-bar js-user-bar user-bar-mobile" id="down-list">
      <li class="user-bar__item">
        <!-- User-bar-btn -->
        <button
          class="user-bar-btn js-user-bar-btn"
          type="button"
          aria-label="user bar button"
        >
          <svg class="user-bar-btn__avatar-icon" width="37" height="37">
            <use href=""></use>
          </svg>
          <span class="user-bar-btn__text" id="auth-user"></span>
          <svg class="user-bar-btn__arrow-icon" width="23" height="26">
            <use href=""></use>
          </svg>
        </button>
        <ul class="dropdown">
          <li class="dropdown-list__item">
            <!-- Log-out-btn -->
            <button
              class="log-out-btn js-log-out-btn"
              type="button"
              aria-label="Log out"
              id="log-out"
            >
              <span class="log-out-btn__text">Log out</span>
              <svg class="log-out-arrow" width="20" height="20">
                <use href=""></use>
              </svg>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</header>

<!-- Mobile-menu -->
<div class="mobile-menu js-menu-container">
<button  class="button-autor mobile-button-autor popopo"  type="button" id="sing-up">
  Sign up
  <svg class="svg-button" width="20" height="20">
    <use href=""></use>
  </svg>
</button>
<ul class="mobile-nav-list">
  <li class="mobile-nav-item">
    <a
      class="header-link-home menu-link-mobail mobile-color header-link-home-modal"
      href="./index.html" id="home-header-mobile"
      >HOME</a
    >
  </li>
  <li class="mobile-nav-item" >
    <a
      class="header-link-shoppingcart menu-link-mobail"
      href="./shopping_list.html" id="shoplist-mobile"
    >
      <span>SHOPPING LIST</span>
      <svg class="svg-mobail" width="20" height="20">
        <use href="t"></use>
      </svg>
    </a>
    <button class="btn-autor is-hidden log-out-mobile" type="button">
      Log out
      <svg class="svg-btn-autor" width="20" height="20">
        <use href=""></use>
      </svg>
    </button>
  </li>
</ul>
<img
  class="img mobile-nav-item-img"
  src=""
  alt="book"
/>
</div>
