<div class="header-container">
    <a class="logo" href="./index.html" aria-label="Bookshelf logo">
        <div class="logo-images">
            <svg width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-logo"></use>
            </svg>
            <svg class="bookshelf-logo" width="77" height="13">
                <use href="./images/symbol-defs.svg#bookshelf"></use>
            </svg>
        </div>
    </a>
    <nav class="header-nav">
        <ul class="list header-nav-list">
            <li class="header-nav-item">
                <a
                    class="header-nav-link current js-header-home-btn"
                    href="./index.html"
                    id="home-link"
                    >HOME</a
                >
            </li>
            <li class="header-nav-item is-hidden js-shopping-nav">
                <a
                    class="header-nav-link shopping-list-header js-header-shop-btn"
                    href="./shopping-list.html"
                    >SHOPPING LIST
                    <div class="bag-wrapper">
                        <svg class="cart" width="20" height="20">
                            <use href="./images/symbol-defs.svg#bag"></use>
                        </svg>
                        <div class="js-bag-container visually-hidden">
                            <span class="js-bag-item visually-hidden"></span>
                        </div>
                    </div>
                    <span class="is-hidden"></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="switcher-burger">
        <label class="switch js-themes"
            ><input type="checkbox" name="switcher_checkbox" />
            <span class="slider round"></span
        ></label>
        <button
            class="menu-burger js-open-menu-burger"
            aria-expanded="false"
            aria-controls="mobile-menu "
            id="open-menu-burger"
            aria-label="Burger menu button"
        >
            <svg class="menu-burger-icon-open" width="28" height="28">
                <use href="./images/symbol-defs.svg#burger"></use>
            </svg>
        </button>
        <div class="header-btn-wrapper">
            <button
                class="button login-btn js-sign-up-btn"
                type="button"
                id="signUpBtnHeader"
            >
                <svg class="user-icon is-hidden" width="37" height="37">
                    <use href="./images/symbol-defs.svg#icon-user-header"></use>
                </svg>
                <span class="sign-up-btn-text">Sign up</span>
                <svg class="arrow-right" width="20" height="20">
                    <use
                        href="./images/symbol-defs.svg#pointing-arrow-right"
                    ></use>
                </svg>
                <svg class="header-arrow-down is-hidden" width="14" height="7">
                    <use
                        href="./images/symbol-defs.svg#pointing-arrow-down"
                    ></use>
                </svg>
            </button>
            <button
                class="log-out-btn is-hidden js-log-out-btn"
                aria-label="Log out button"
            >
                <span class="log-out-btn-text">Log out</span>
                <svg class="log-out-arrow-right" width="20" height="20">
                    <use
                        href="./images/symbol-defs.svg#pointing-arrow-right"
                    ></use>
                </svg>
            </button>
        </div>
        <button
            class="close-mobile-modal-btn"
            type="button"
            id="close-mobile-modal-btn"
        >
            <svg class="mobile-modal-icon-close" width="28" height="28">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</div>
