<div class="modal">
    <button type="button" class="modal-close" data-modal-close>
        <svg class="modal-close-svg" width="24px" height="24px">
            <use href="#"></use>
        </svg>
    </button>
    <div class="thumb">
        <img
            src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1659825850i/61771675.jpg"
            alt="Cover"
        />
        <h3>HELLO BEAUTIFUL</h3>
        <h4>Ann Napolitano</h4>
    </div>
    <p class="descr">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
        suscipit hic illo praesentium expedita ipsa, autem sapiente quis,
        repellat perferendis similique facere cum ipsum cumque aliquam nemo.
        Accusantium, inventore animi?
    </p>
    <ul>
        <li>
            <a
                aria-label="amazon"
                class="modal-link"
                href="https://www.amazon.com"
                rel="noopener noreferrer"
                target="_blank"
            >
                <svg class="modal-svg">
                    <use href="#">amazon</use>
                </svg>
            </a>
        </li>
        <li>
            <a
                aria-label="e-books"
                class="modal-link"
                href=""
                rel="noopener noreferrer"
                target="_blank"
            >
                <svg class="modal-svg">
                    <use href="#">e-books</use>
                </svg>
            </a>
        </li>
        <li>
            <a
                aria-label="book shop"
                class="modal-link"
                href=""
                rel="noopener noreferrer"
                target="_blank"
            >
                <svg class="modal-svg">
                    <use href="#">book shop</use>
                </svg>
            </a>
        </li>
    </ul>
    <button type="button" class="modal-btn">add to shopping list</button>
    <p>
        Congratulations! You have added the book to the shopping list. To
        delete, press the button "Remove from the shopping list".
    </p>
</div>
