<h2 class="Shop-list__title">Shopping <span>List</span></h2>

<div class="container emptyPage__container">
    <p class="emptyPage__p">
        This page is empty, add some books and proceed to order.
    </p>
    <img class="emptyPage__img" src="./images/book-mobile.jpg" alt="books" />
</div>

<div class="book__wrapper container">
    <div class="book__card">
        <div class="book__card-img-div">
            <img
                class="book__card-img"
                src="./images/book-card.jpg"
                alt="delMe"
            />
        </div>
        <div class="book__card-info">
            <div class="flex">
                <div class="book__book__card-info-nameGenre">
                    <h3 class="book__card-info-name">I will find you</h3>
                    <p class="book__card-info-genre">Hardcover fiction</p>
                </div>
                <button class="book__card-delBtn" type="button">
                    <svg class="trash-svg" width="18" height="18">
                        <use
                            href="/src/images/symbol-defs.svg#icon-trash"
                        ></use>
                    </svg>
                </button>
            </div>
            <p class="book__card-info-desc">
                David Burroughs was once a devoted father to his three-year-old
                son Matthew, living a ...
            </p>
            <div class="book__card-author-platforms-wrapper">
                <p class="book__card-author">Harlan Coben</p>
                <div class="book__card-platforms-wrapper">
                    <a class="book__card-platforms-a amazon" href="#"
                        ><img
                            class="book__card-platforms-img"
                            src="/src/images/js-project-png/amazon_x1.png"
                            alt="DelMe"
                            width="32px"
                            height="11px"
                    /></a>
                    <img
                        class="book__card-platforms-img ibooks"
                        src="/src/images/js-project-png/ibooks_x1.png"
                        alt="DelMe"
                        width="16px"
                        height="16px"
                    />
                    <img
                        class="book__card-platforms-img book-shop"
                        src="/src/images/js-project-png/book-shop_x1.png"
                        alt="DelMe"
                        width="16px"
                        height="16px"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a class="pagination__circle" href="#"></a>
        <a class="pagination__circle" href="#"></a>
        <a class="pagination__circle" href="#"></a>
        <a class="pagination__circle" href="#"></a>
        <a class="pagination__circle" href="#"></a>
        <a class="pagination__circle" href="#"></a>
        <a class="pagination__circle" href="#"></a>
    </div>
</div>
