<!-- .empty-page = display none -->

<div class="container empty-page">
    <h2 class="Shop-list__empty-title">Shopping <span>List</span></h2>
    <div class="emptyPage__container">
        <p class="emptyPage__p">
            This page is empty, add some books and proceed to order.
        </p>
        <img
            class="emptyPage__img"
            src="./images/book-mobile.jpg"
            alt="books"
        />
    </div>
</div>

<div class="book__wrapper container">
    <h2 class="Shop-list__title">Shopping <span>List</span></h2>
    <div class="cards">
        <div class="book__card">
            <div class="book__card-img-div">
                <img
                    class="book__card-img"
                    src="./images/book-card.jpg"
                    alt="delMe"
                />
            </div>
            <div class="book__card-info">
                <div class="flex">
                    <div class="book__book__card-info-nameGenre">
                        <h3 class="book__card-info-name">I will find you</h3>
                        <p class="book__card-info-genre">Hardcover fiction</p>
                    </div>
                    <button class="book__card-delBtn" type="button">
                        <svg class="trash-svg" width="18" height="18">
                            <use
                                href="/src/images/symbol-defs.svg#icon-trash"
                            ></use>
                        </svg>
                    </button>
                </div>
                <p class="book__card-info-desc">
                    David Burroughs was once a devoted father to his
                    three-year-old son Matthew, living a dream life just a short
                    drive away from the working-class suburb where he and his
                    wife, Cheryl, first fell in love--until one fateful night
                    when David woke suddenly to
                </p>
                <div class="book__card-author-platforms-wrapper">
                    <p class="book__card-author">Harlan Coben</p>
                    <div class="book__card-platforms-wrapper">
                        <a class="book__card-platforms-a amazon" href="#"
                            ><img
                                class="book__card-platforms-img amazon"
                                src="/src/images/js-project-png/amazon_x1.png"
                                alt="DelMe"
                        /></a>
                        <a href="#"
                            ><img
                                class="book__card-platforms-img ibooks"
                                src="/src/images/js-project-png/ibooks_x1.png"
                                alt="DelMe"
                        /></a>
                        <a href="#"
                            ><img
                                class="book__card-platforms-img book-shop"
                                src="/src/images/js-project-png/book-shop_x1.png"
                                alt="DelMe"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="book__card">
            <div class="book__card-img-div">
                <img
                    class="book__card-img"
                    src="./images/book-card.jpg"
                    alt="delMe"
                />
            </div>
            <div class="book__card-info">
                <div class="flex">
                    <div class="book__book__card-info-nameGenre">
                        <h3 class="book__card-info-name">I will find you</h3>
                        <p class="book__card-info-genre">Hardcover fiction</p>
                    </div>
                    <button class="book__card-delBtn" type="button">
                        <svg class="trash-svg" width="18" height="18">
                            <use
                                href="/src/images/symbol-defs.svg#icon-trash"
                            ></use>
                        </svg>
                    </button>
                </div>
                <p class="book__card-info-desc">
                    David Burroughs was once a devoted father to his
                    three-year-old son Matthew, living a dream life just a short
                    drive away from the working-class suburb where he and his
                    wife, Cheryl, first fell in love--until one fateful night
                    when David woke suddenly to
                </p>
                <div class="book__card-author-platforms-wrapper">
                    <p class="book__card-author">Harlan Coben</p>
                    <div class="book__card-platforms-wrapper">
                        <a class="book__card-platforms-a amazon" href="#"
                            ><img
                                class="book__card-platforms-img amazon"
                                src="/src/images/js-project-png/amazon_x1.png"
                                alt="DelMe"
                        /></a>
                        <a href="#"
                            ><img
                                class="book__card-platforms-img ibooks"
                                src="/src/images/js-project-png/ibooks_x1.png"
                                alt="DelMe"
                        /></a>
                        <a href="#"
                            ><img
                                class="book__card-platforms-img book-shop"
                                src="/src/images/js-project-png/book-shop_x1.png"
                                alt="DelMe"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <div class="pagination__circle black first">
            <a class="pagination__link" href="#">
                <svg class="arrow-left" width="22px" height="22px">
                    <use href="/src/images/symbol-defs.svg#"></use>
                </svg>
            </a>
        </div>
        <div class="pagination__circle black">
            <a class="pagination__link" href="#">
                <svg class="arrow-left" width="22px" height="22px">
                    <use href="/src/images/symbol-defs.svg#"></use>
                </svg>
            </a>
        </div>
        <div class="pagination__circle margin black color">
            <a class="pagination__link" href="#"> 1 </a>
        </div>
        <div class="pagination__circle">
            <a class="pagination__link" href="#"> 2 </a>
        </div>

        <div class="pagination__circle white from-tablet">
            <a class="pagination__link" href="#"> 3</a>
        </div>
        <div class="pagination__circle white">
            <a class="pagination__link" href="#"> ... </a>
        </div>

        <div class="pagination__circle margin yellow">
            <a class="pagination__link" href="#">
                <svg class="arrow-left" width="22px" height="22px">
                    <use href="/src/images/symbol-defs.svg#"></use>
                </svg>
            </a>
        </div>
        <div class="pagination__circle yellow last">
            <a class="pagination__link" href="#">
                <svg class="arrow-left" width="22px" height="22px">
                    <use href="/src/images/symbol-defs.svg#"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
