<div class="support-wrapper">
    <div class="support-title-wrapper">
        <h2 class="support-title">Support Ukraine</h2>
        <svg class="support-title-icon" width="20" height="32">
            <use href="./images/symbol-defs.svg#icon-gerb"></use>
        </svg>
    </div>
    <ul class="support-list"></ul>

    <button class="support-btn-more">
        <svg class="support-svg-down" width="22" height="22">
            <use href="./images/symbol-defs.svg#icon-support-svg-down"></use>
        </svg>
    </button>
</div>

<a href="#up" class="scroll scroll-up">
    <svg class="up-icon" width="24" height="24" aria-label="scroll up">
        <use href="./images/symbol-defs.svg#icon-arrow-up"></use>
    </svg>
</a>
