<div class="support-wrapper">
    <div class="support-title-wrapper">
        <h2 class="support-title">Support Ukraine</h2>
        <svg class="support-title-icon" width="20" height="32">
            <use href="./images/symbol-defs.svg#icon-gerb"></use>
        </svg>
    </div>

    <div class="slider-wrapper"><ul class="support-list"></ul></div>

    <button
        class="support-btn-more visually-hidden"
        type="button"
        aria-label="see more who supports Ukraine"
    >
        <svg class="support-svg-down" width="22" height="22">
            <use href="./images/symbol-defs.svg#icon-support-svg-down"></use>
        </svg>
    </button>
</div>
