<div class="support-wrapper">
    <h2 class="support-title">Support Ukraine</h2>
    <svg class="support-title-icon" width="20" height="32">
        <use href="../images/symbol-defs.svg#icon-gerb"></use>
    </svg>
    <ol class="support-list">
        <!-- <li class="support-item">
            <a href="${url}" target="_blank" rel="noopener noreferrer nofollow">
                <img src="${img}" alt="${title}" />
            </a>
        </li> -->
    </ol>
    <button class="support-btn-more">
        <svg class="support-svg-down" width="22" height="22">
            <use href="../images/symbol-defs.svg#icon-filed-arrow-down"></use>
        </svg>
    </button>
    <button class="support-btn-prev is-hidden">
        <svg class="support-svg-up" width="22" height="22">
            <use href="../images/symbol-defs.svg#icon-arrow-up"></use>
        </svg>
    </button>
</div>
