/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* https://github.com/sindresorhus/modern-normalize */
/* npm install modern-normalize */
/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
@import url('./reset.css');
/* @import url("./header.css");
@import url("./hero.css");
@import url("./sec-steps.css");
@import url("./sec-portfolio.css");
@import url("./sec-freshboxes.css");
@import url("./footer.css"); */
