.auth-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: var(--blue-color);

    visibility: visible;
    opacity: 1;
    pointer-events: initial;

    transition-property: opacity, visibility;
    transition-duration: var(--tr-duration);
    transition-timing-function: var(--tr-cubic);
    z-index: 20;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.auth-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 335px;
    min-height: 384px;
    padding: 40px 20px;

    background-color: var(--bg-color);
    border: 2px solid var(--other-text-color);
    border-radius: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--tr-duration) var(--tr-cubic);
}
.auth-icon-close {
    stroke: inherit;
}
.btn-close {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    // border: 1px solid transparent;

    background-color: transparent;
    stroke: var(--other-text-color);
    // color: var(--auth-border-color);

    transition-property: color, background-color, border-color;
    transition-duration: var(--tr-duration);
    transition-timing-function: var(--tr-cubic);
}

.btn-close:hover,
.btn-close:focus {
    background-color: var(--blue-color);
    stroke: var(--white-color);
}
.btn-submit {
    width: 100%;
    padding: 20px 0;
    border-radius: 40px;

    background: var(--auth-border-color);
    color: var(--auth-btn-text-color);

    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.18px;
    text-transform: uppercase;
}
.auth-btn-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.authorization-btn-in,
.authorization-btn-up {
  display: block;
  height: 24px;
  font-size: 14px;
  line-height: 1.28px;
  background-color: var(--auth-btn-text-color);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--congrat-text-color);
  transition: 250ms var(--timing-function) cubic-bezier(0.4, 0, 0.2, 1);
}

.authorization-btn-in:hover,
.authorization-btn-up:hover,
.authorization-btn-in:focus,
.authorization-btn-up:focus {
  color: var(--blue-color);
}

.auth-activ-link {
    color: var(--blue-color);
    text-decoration: underline;
  }

@media screen and (min-width: 768px) {
  .authorization-btn-in,
  .authorization-btn-up {
    font-size: 18px;
    height: 24px;
    line-height: 1.33px;
  }
}

.auth {
    width: 100%;
    margin: 0;
    padding: 0;
}

.auth-input {
    width: 100%;
    padding: 20px 40px;
    border-radius: 40px;
    border: 2px solid var(--auth-border-color);
    margin-bottom: 28px;
}
.auth-label {
    color: var(--auth-border-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
}

@media screen and (min-width: $tablet) {
    .auth-modal {
        width: 579px;
        min-height: 516px;
        padding-left: 40px;
        padding-top: 80px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
}
