.top-books {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 40px 0;
    color: $primary-color;
}

.title-blue {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 40px 0;
    color: $blue-color;
}

.category-item {
    color: $second-color;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.42px;
    justify-content: center;
    margin-bottom: 18px;
}
.book-image {
    border-radius: 8px;
    margin-bottom: 14px;
    width: 335px;
    height: 485px;
}
.book-name {
    color: $primary-color;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
}

.book-author {
    color: $second-color;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    margin-top: 4px;
}
.author-book {
    color: $second-color;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 40px;
    margin-top: 4px;
}
.see-more-btn {
    color: $primary-color;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    padding: 14px 28px;
    border-radius: 40px;
    overflow: hidden;
    border: 2px solid $blue-color;
    margin-bottom: 40px;
    margin-top: 8px;
    display: block;
    margin-left: auto;
}
.category-name {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 40px 0;
    color: $primary-color;
}
.book-card:not(:first-child) {
    display: none;
}

// ========= Вікно що віїзжає quick view
.pop-up-window {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: 70px;
    opacity: 0;
    background: $yellow-color;
    user-select: none;
    transition-duration: 250ms;
}

.pop-up-text {
    letter-spacing: -0.56px;
    text-transform: uppercase;
    text-align: center;
    color: $other-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(18 / 14);
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: DM Sans;
}

.image-overlay {
    position: relative;
    display: inline-block;
}

.image-overlay:hover .pop-up-window,
.image-overlay:focus .pop-up-window {
    opacity: 1;
    transform: translateY(0);
}
// =========================================
// Треба написати формулу яка буде рахувати в точках перелому або ділити на 5 якщо на комп'ютері, на 3 якщо на планшеті
// .book-card{
//     width: 15%;
// }

@media screen and (min-width: 768px) {
    .top-books {
        margin: 100px 0 40px 0;
    }
    .category-name {
        font-size: 48px;
        font-weight: 700;
        line-height: 52px;
        margin: 100px 0 40px 0;
    }
    .title-blue {
        font-size: 48px;
        font-weight: 700;
        line-height: 52px;
    }
    .categories {
        display: flex;
        justify-content: center;
        gap: 25px;
    }
    .see-more-btn {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .book-image {
        width: 218px;
        height: 316px;
    }
    .book-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 25px;
    }
    .author-book {
        margin-bottom: 0;
    }
    .book-card:nth-last-child(-n + 2) {
        display: block;
    }
}

@media screen and (min-width: 1280px) {
    .book-list {
        gap: 40px 24px;
    }
    .top-books {
        margin: 40px 0;
    }
    .category-name {
        margin: 40px 0;
    }
    .book-image {
        width: 180px;
        height: 256px;
    }
    .see-more-btn {
        margin-top: 32px;
    }
    .book-card:nth-last-child(-n + 4) {
        display: block;
    }
}
