.header-container {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  border: 1.5px solid var(--logo-text);

  border-radius: 0px 0px 8px 8px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
 
.logo {
  margin-right: 8px;
  transition: transform ease-in-out 150ms;
}

.logo:hover,
.logo:focus {
  transform: scale(1.03);
}

.logo-images {
  display: flex;
  align-items: center;
}
  
.bookshelf-logo {
  fill: $logo-text;
  margin-left: 8px;
  fill: var(--logo-text);
}

.header-nav {
  display: none;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-nav-link {
  color: $logo-text;
  line-height: 1.28;
  letter-spacing: 0.04;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:focus,
.header-nav-link:hover {
  color: $yellow-color;
}

.shopping-list-header {
  display: flex;
  gap: 8px;
  color: var(--logo-text);
  align-items: center;
  
}

.switcher-burger {
  align-items: center;
  display: flex;
}

.menu-burger {
  padding: 0px;
  border: none;
  width: 28px;
  height: 28px;
  margin-left: 14px;

}

.menu-burger-open {
  stroke: var(--other-text-color);
}

.menu-burger-open:hover,
.menu-burger-open:focus {
  stroke: $blue-color;
}

.switch {
  width: 40px;
  height: 20px;
  position: relative;
  align-items: center;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 1px 1px 2px rgba(8, 8, 8, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(180deg, $blue-color 0%, #dedede 100%);
}

.slider:hover,
.slider:focus {
  transform: scale(1.03);
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 1px;
  left: 1px;
  background-color: rgb(254, 254, 254);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(180deg, $blue-color 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:focus + .slider {
  background: linear-gradient(180deg, $blue-color 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.login-btn {
  display: none;
}

#signUpBtnHeader {
  transition: transform ease-in-out 200ms;
}

#signUpBtnHeader:focus,
#signUpBtnHeader:hover {
  transform: scale(1.03);
}

.header-btn-wrapper {
  position: relative;
}

.arrow-right {
  stroke: $yellow-color;
}

.header-nav-link.current .cart {
  fill: $primary-color;
}

.cart {
  position: relative;
  fill: $primary-color;
  fill: var(--logo-text);
  
}

.menu-burger-icon-open {
  stroke: var(--logo-text);
}

.menu-burger-icon-open:hover,
.menu-burger-icon-open:focus {
  stroke: var(--blue-color);
}


.current {
  color: $primary-color;
  background-color: $yellow-color;
  padding: 8px 16px;
  border-radius: 36px;
  font-weight: 700;
  border: none;
  transition: background-color 150ms ease-in-out;
}

.current:hover,
.current:focus {
  background-color: $blue-color;
}

.header-arrow-down {
  fill: $header-bg-color;
}

.sign-up-btn-text.grow,
.burger-sign-up-btn-text.grow {
  font-weight: 700;
  font-size: 22px;
  line-height: calc(29 / 22);
  letter-spacing: -0.02em;
}

.log-out-btn {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 118px;
  height: 48px;
  color:  $header-bg-color;
  background-color: $header-bg-color;
  border: 1.5px solid  $header-bg-color;
  border-radius: 18px;
  padding: 14px 24px;
}

.log-out-btn-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color:  $header-bg-color;
}

.log-out-arrow-right {
  stroke: $yellow-color;
}

.header-arrow-down {
  fill: $header-bg-color;
  transition: transform 0.3s ease;
}
.active-sign-up {
  transform: rotate(-180deg);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}

.close-mobile-modal-btn.hidden {
display: none;
}

// responsive

@media only screen and (min-width: 768px) {
  .header-container {
    padding-left: 32px;
    padding-right: 32px;
    padding: 13px 32px;
    padding-top: 22px;
    padding-bottom: 22px;

  }
}
@media only screen and (min-width: 1440px) {
  .header-container {
    display: flex;
    gap: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding: 13px 32px;
  }
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .logo {
    margin-right: 76px;
  }
}
@media only screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1440px) {
  .header-nav-list {
    gap: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .login-btn {
    margin-left: 26px;
  }
}
@media only screen and (min-width: 768px) {
  .menu-burger {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .switch {
    margin-right: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .login-btn {
    min-width: 184px;
    height: 48px;
    background-color: $blue-color;
    color: $header-bg-color;
    border: 1.5px solid $primary-color;
    border-radius: 26px;
    font-weight: 500;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 1440px) {
  .log-out-btn {
    margin-left: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .log-out-btn {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .log-out-btn {
    min-width: 184px;
    padding: 14px;
  }
}