.category {
    margin: 40px 0;
    width: 100%;
    height: 228px;
    color: rgba(17, 17, 17, 0.6);
    margin-top: 40px;
    max-width: 307px;
    width: 100%;
    overflow-y: scroll;
    font-size: 16px;
    letter-spacing: -0.32px;
    scroll-behavior: smooth;
    text-align: left;
    font-family: DM Sans, ;

}

.category::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bg-color);
}

.category::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
   
    border-radius: 12px;
}



@media screen and (min-width: $tablet) {
    .category {
        max-width: 337px;
        height: 472px;
    }

}

@media screen and (min-width: $desktop) {
    .category {
        max-width: 356px;
        height: 472px;
    }

}

.category .item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

}

.category .item:hover,
.category .item:focus {
    cursor: pointer;
    font-weight: 700;
    transform: scaleY(1.1);
    transition: font-weight 250ms linear;
    color: $blue-color;
    text-transform: uppercase;
    font-weight: 700;
    color: $blue-color;
}

.category .active {
    text-transform: uppercase;
    font-weight: 700;
    color: $blue-color;
}

.category .item:first-child~.item {
    padding-top: 24px;
}